body {
	background-color: #fff;
	height: 768px;
	width: 1024px;
}

.bill-wrapper {
	background-color: #f2e4c4;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.bill-tab {
	background-color: #f2e4c4;
	padding: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.oxhca-tab {
	background-color: #ffbe7d;
	padding: 10px;
	color: #fff;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.items-table {
	margin: 50px auto;
	border-collapse: collapse;
	text-align: center;
	border-radius: 10px;
	position: absolute;
	top: 20%;
	left: 17%;
}

.items-table th {
	background-color: #ffbe7d;
	color: #fff;
	padding: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.items-table td,
.items-table th {
	border: 1px solid #000;
	padding: 10px;
}

.items-table td:last-child,
.total-cell {
	background-color: #ffbe7d;
	color: #fff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.button {
	background-color: #b629aa;
	color: #fff;
	padding: 10px;
	border-radius: 10px;
	position: absolute;
	top: 30%;
	left: 65%;
}

.qrCodeWrapper {
	position: absolute;
	top: 37%;
	left: 64%;
	border: #000 2px solid;
	height: 128px;
	width: 128px;
}