body {
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #F9F9F9;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ddd;
  padding: 10px;
}

.button {
  background-color: green;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.recipe-link {
  color: blue;
  text-decoration: none;
}

.recipe-link:hover {
  text-decoration: underline;
}

img {
  width: 32px;
  height: 32px;
}

body {
  background-color: #98C1D9;
}

.table-container {
  height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  overflow-y: scroll;
  margin-top: 50px;
}

.table-container table {
  width: 100%;
}

.table-container h1 {
  margin-bottom: 20px;
}

.table-container th,
.table-container td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.table-container th {
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ddd;
  padding: 10px;
}

.table-container table {
  margin: 50px auto;
}
