<style>
    /* make border-box sizing for all the elements  */
    *,
    *:before,
    *:after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    /* changed the font family and font size of the dropdown */
    select#table-number-select {
        font-family: "Work Sans", sans-serif;
        font-size: 18px;
        text-align: center;
        color: black;
        background-color: lightsalmon;
    }
    /* changed the background colour and border colour when clicked */
    select#table-number-select:focus {
        background-color: lightsalmon;
        border-color: red;
    }
    /* added a hover effect */
    select#table-number-select:hover {
        background-color: lightsalmon;
    }

    /* styling the table numbers in the drop down */
    select#table-number-select option {
    font-size: 16px;
    padding: 8px;
    background-color: lightgreen ;
    color: black;
}

    /* styling for the main body element */
    body {
        background-color: white;
    }

    /* styling for the checkboxes */
    input[type="checkbox"] {
        appearance: none;
        width: 18px;
        height: 18px;
        border: 2px solid lightsalmon;
        border-radius: 4px;
        outline: none;
        transition: all 0.2s ease-in-out;
        position: relative;
        cursor: pointer;
    }
    
    /* styling for the checkbox cross when user inputs */
    input[type="checkbox"]::before,
    input[type="checkbox"]::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60%;
        height: 2px;
        background-color: #ccc;
        transform: translate(-50%, -50%) rotate(45deg);
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }
    
    /* rotate checkbox checkmark */
    input[type="checkbox"]::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    
    /* style for checked checkbox */
    input[type="checkbox"]:checked::before,
    input[type="checkbox"]:checked::after {
        opacity: 1;
    }
    
    /* style for checked checkbox border and background */
    input[type="checkbox"]:checked {
        border-color: #1abc9c;
        background-color: red;
    }
    
    /* style for popup container */
    .popup {
        background-color: lightgoldenrodyellow;
        color: black;
        width: 350px;
        padding: 30px 40px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        border-radius: 8px;
        font-family: "Work Sans", sans-serif;
        display: none;
        text-align: center;
    }

    /* style for popup button */
    .popup button {
        display: block;
        margin-bottom: 30px;
        margin: 0 auto 20px;
        background-color: transparent;
        font-size: 20px;
        color: #ffffff;
        background: black;
        border-radius: 0;
        width: 80px;
        height: 30px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    /* style for popup heading */
    .popup h2 {
        margin-top: -20px;
    }

    /* make the h3 and h4 colour black */
    h3, h4 {
        color: black;
        font-family: "Work Sans", sans-serif;
    }
    

    /* style for popup paragraph text */
    .popup p {
        font-size: 14px;
        text-align: justify;
        margin: 20px 0;
        line-height: 25px;
    }

    /* make the close button colour */
    #close {
        color: black;
      }


    
</style>
