body {
    overflow: hidden;
}

.kitchen-table-container {
    height: calc(100vh - 50px);
    overflow-y: auto;
    margin-top: 50px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: linear-gradient(to bottom, red, yellow, green);
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #ddd;
    padding: 10px;
}

.accept-button {
    background-color: green;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.accept-button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.complete-button {
    background-color: green;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.complete-button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.recipe-link {
    color: blue;
    text-decoration: none;
}

.recipe-link:hover {
    text-decoration: underline;
}

img {
    width: 32px;
    height: 32px;
}

body {
    background-color: #98C1D9;
}

.accepted-table-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    overflow-y: auto;
    margin-top: 50px;
    text-align: center;
}

.accepted-table-container table {
    width: 80%;
}

.accepted-table-container h1 {
    margin-bottom: 20px;
}

.accepted-table-container th, .accepted-table-container td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.accepted-table-container th {
  font-weight: bold;
