<!DOCTYPE html>
<html>

<script src="https://code.jquery.com/jquery-3.6.3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script>
	function makePayment(tableNo) {
		$.ajax({
			url: '/makePayment',
			type: 'POST',
			data: JSON.stringify({ "tableNo": tableNo }),
			contentType: "application/json",
			success: function (link) {
				$("#qrcode").empty();
				var qrcode = new QRCode(document.getElementById("qrcode"), {
					text: link.paymentUrl,
					width: 128,
					height: 128,
					colorDark: "#000000",
					colorLight: "#ffffff",
					correctLevel: QRCode.CorrectLevel.H
				});
			},
		});
	}

	function checkPayment(tableNo) {
		$.ajax({
			url: '/checkPayment',
			type: 'POST',
			data: JSON.stringify({ "tableNo": tableNo }),
			contentType: "application/json",
			success: function (response) {
				if (response['check'] == "False") {
					window.location.href = "/Floor-Staff";
				}
			}
		});
	}
	setInterval(function () { checkPayment("{{ data['tableNo'] }}"); }, 5000);

</script>

<head>
	<title>Bill page</title>
	<link rel="stylesheet" type="text/css" href="static/css/billTemplate.css">
</head>

<body>
	<div class="bill-wrapper">
		<div class="bill-tab">
			<h1>Bill</h1>
		</div>
		<div class="oxhca-tab">
			<a href="/Floor-Staff">
				<h2>Oaxaca</h2>
			</a>
		</div>
	</div>
	{% if data != "No order found" %}
	<table class="items-table">
		<tr>
			<th>Item Number</th>
			<th>Item Name</th>
			<th>Price</th>
		</tr>
		{% for item in data['queue'] %}
		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ item['Note1'] }}</td>
			<td>£{{ item['price'] }}</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="2">Subtotal</td>
			<td>£{{ data['subtotal'] }}</td>
		</tr>
	</table>
	{% set tableNo = data['tableNo'] %}
	<button class="button" onclick="makePayment('{{ tableNo }}')">Make Payment</button>
	<div class="qrCodeWrapper">
		<div id="qrcode"></div>
	</div>
	{% else %}
	<h1 style="font-size: 50px; text-align: center;">{{ data }}</h1>
	{% endif %}
</body>

</html>