<!DOCTYPE html>
<html>
<head>
	<title>My Page</title>
	<link rel="stylesheet" type="text/css" href="billTemplate.css">
</head>
<body>
	<div class="bill-wrapper">
		<div class="bill-tab">
			<h1>Bill</h1>
		</div>
		<div class="oxhca-tab">
			<h2>Oxhca</h2>
		</div>
	</div>
	<table class="items-table">
		<tr>
			<th>Item Number</th>
			<th>Item Name</th>
			<th>Price</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Item 1</td>
			<td>$10</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Item 2</td>
			<td>$20</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Item 3</td>
			<td>$30</td>
		</tr>
		<tr>
			<td colspan="2">Subtotal</td>
			<td>$60</td>
		</tr>
		<tr>
			<td colspan="2">Grand Total</td>
			<td class="total-cell">$70</td>
		</tr>
	</table>
</body>
</html>
