<!DOCTYPE html>
<html>

<head>
	<title>My Page</title>
	<link rel="stylesheet" type="text/css" href="static/css/billTemplate.css">
</head>

<body>
	<div class="bill-wrapper">
		<div class="bill-tab">
			<h1>Bill</h1>
		</div>
		<div class="oxhca-tab">
			<h2>Oaxaca</h2>
		</div>
	</div>
	<table class="items-table">
		<tr>
			<th>Item Number</th>
			<th>Item Name</th>
			<th>Price</th>
		</tr>
		{% for item in data['queue'] %}
		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ item['Note1'] }}</td>
			<td>${{ item['price'] }}</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="2">Subtotal</td>
			<td>${{ data['subtotal'] }}</td>
		</tr>
		<tr>
			<td colspan="2">Grand Total</td>
			<td class="total-cell">${{ data['total'] }}</td>
		</tr>
	</table>
</body>

</html>