<!DOCTYPE html>
<html>

<head>
	<title>Ring Waiter</title> <!-- The Ring Waiter page that appears when customers first enter the restaurant -->
	<style>
		body {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			margin: 0;
		}

		button {
			background-color: green;
			color: white;
			font-size: 24px;
			padding: 20px 40px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}
	</style>
</head>

<body>
	<button>Press here to call for a waiter</button> <!-- Button that will send a ping to waiter when pressed, allowing customers to be seated -->
</body>

</html>
