<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/faqStyle.css">
</head>

<body>
    <h1>FaQs</h1>
    <p>Select a topic from below to find out more:</p>
    <button class="accordion">Getting to know the menu</button>
    <div class="panel">
        <p>You can click through the menu and see descriptions of items.
            Although customers can edit out items specific to their own dietary
            restrictions, it is still good to learn the menu and help give
            recommendations based on their needs. You could also speak to the
            kitchen staff to learn specifics about menu items, such as how they are
            made, any possible contaminants, etc.,.
        </p>
    </div>

    <p></p>

    <button class="accordion">Engaging with customers</button>
    <div class="panel">
        <p>Customers are at the fore-front of our business- our success is measured
            almost entirely by how they feel at the beginning, middle, and end of their meal.
            Due to this, it is very imporant that the first impression you make is one that is
            inviting and friendly. Don't view patrons as customers, but rather friends you
            would enjoy having a conversation with outside of work. More often than not, most
            customers will be more than happy to talk and respond to you with the same respect and friendliness
            you show them. However, there will always be bad apples every so often. It is important
            to still maintain a level of respect and tolerance with these types of customers, and to never bring
            yourself
            to their level, instead maintaining the level of service and friendliness Oaxaca is known for.
        </p>
    </div>

    <p></p>

    <button class="accordion">Accepting and dealing with orders</button>
    <div class="panel">
        <p>When a customer places an order, you will be able to see it on your device after signing in.
            New orders will appear on the left side of the screen in the orders tab, where the table number
            and order will come through, as well as an option to accept or cancel the order. There will also be
            a scrolling tab on the top right with more information about current orders. You can also edit orders
            after they have been accepted if you need to, and this information will be passed on to the kitchen staff
            so they can adjust the order appropriately.
        </p>
    </div>

    <p></p>

    <button class="accordion">Communicating with the kitchen staff</button>
    <div class="panel">
        <p>You are able to send messages and updates about orders directly
            to the kitchen staff. These updates can be sent through your staff page in the form of either
            food notes (additional requirements of a dish) or direct messages. You can also go the old fashioned route
            of going directly to the kitchen to speak to the staff, if they are either too busy to respond to order
            changes, or if you need to adjust an order further.
        </p>
    </div>

    <p></p>

    <button class="accordion">Checking up on customers</button>
    <div class="panel">
        <p>Checking up on customers is a very important part of service that can not be
            ignored. This gives an opportunity to find out any grievances a patron had with their
            meal and how you can remedy it. This allows us to maintain a higher level of customer
            service by ensuring we do our best to make sure customers leave happy. You can also use
            this moment to offer drink refills, extra utensils and napkins, or anything else the customer
            needs.
        </p>
    </div>

    <p></p>

    <button class="accordion">Using the till</button>
    <div class="panel">
        <p>Lorem ipsum...</p>
    </div>

    <p></p>

    <button class="accordion">Dealing with issues</button>
    <div class="panel">
        <p>If there is an issue which you cant resolve through this page, there are multiple
            routes you can take:
            <br>
            <br>If it is a relatively small issue, such as a customer asking to edit an order
            after it has already been published and accepted, try talking to a fellow colleague, and
            getting their feedback and help on the issue.
            <br>
            <br>If this still doesn't resolve the issue, or if the issue is too big, speak to your
            line/ shift manager to get their help in resolving the issue.
            <br>
            <br>These situations can also be very important learning opportunities for you to learn
            how to manage and respond to different situations which you may not be used to.

        </p>
    </div>

    <script>
        const accordions = document.getElementsByClassName("accordion");

        for (let i = 0; i < accordions.length; i++) {
            accordions[i].addEventListener("click", function () {
                this.classList.toggle("active");
                const panel = this.nextElementSibling;
                panel.style.display = panel.style.display === "block" ? "none" : "block";
            });
        }

    </script>
</body>

</html>