<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kitchen Staff</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}" type="text/javascript"></script>
    <link href="{{ url_for('static', filename='icon.png') }}" rel="icon" type="image/png">
</head>
<body>
<div class="container-fluid">
            <div class="col-md-6">
    <div class="kitchen-table-container">
        <h1 class="text-center mb-5">Order Queue</h1>
        <table class="table table-bordered table-striped" id="order-queue-table">
                    <thead>
                        <tr>
                            <th>Table #</th>
                            <th>Items</th>
                            <th>Status</th>
                            <th>Accept</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order["table_number"] }}</td>
                            <td>{{ order["items"] }}</td>
                            <td>{{ order["status"] }}</td>
                            <td>
                                <button class="btn btn-primary accept-button" {% if order["status"] == "<pending>" %} disabled {% endif %}
                                        id="accept-order-{{ order["_id"] }}">Accept
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
</div>
</div>
</body>
</html>
