<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kitchen Staff</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='css/kitchenstyle.css') }}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>$(document).on('click', '.accept-button', function () {
        // Get the order ID and data
        const orderID = $(this).data('order-id');
        const orderData = $(this).closest('tr').find('td').map(function () {
            return $(this).text();
        }).get();

        // Send the order data to the server to be accepted
        $.ajax({
            url: '/accept_order',
            type: 'POST',
            data: {
                'order_data': JSON.stringify({
                    'old_id': orderID,
                    'table_number': orderData[0],
                    'items': orderData[1],
                    'note': orderData[2]
                }),
                'time': Date.now()
            },
            success: function (data) {
                // If the order was accepted, remove it from the order queue table
                $(this).closest('tr').remove();
            }
        });
    });
    </script>
    <script>
        $(document).on('click', '.complete-button', function () {
            // Get the order ID
            const orderID = $(this).data('order-id');

            // Send the order ID to the server to be completed
            $.ajax({
                url: '/complete_order',
                type: 'POST',
                data: {'order_id': orderID},
                success: function (data) {
                    // If the order was completed, remove it from the accepted orders table
                    $(this).closest('tr').remove();
                }
            });
        });
    </script>

    <script>
    // Refresh the tables every second
    setInterval(function() {
        $('#order-queue-table').load(location.href + ' #order-queue-table');
        $('#accepted-orders-table').load(location.href + ' #accepted-orders-table');
    }, 1000);
</script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='images/kitchenicon.png') }}" rel="icon" type="image/png">
    <script src="{{ url_for('static', filename='js/kitchen.js') }}"></script>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center mb-5">Order Queue</h1>
            <table class="table kitchen-table table-container" id="order-queue-table">
                <thead>
                <tr>
                    <th>Table</th>
                    <th>Items</th>
                    <th>Note</th>
                    <th>Accept</th>
                    <th>Cancel</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order["table_number"] }}</td>
                        <td>{{ order["items"] }}</td>
                        <td>{{ order["note"] }}</td>
                        <td>
                            <button class="btn btn-primary accept-button" data-order-id="{{ order["_id"] }}">Accept
                            </button>
                        </td>
                        <td><button class="btn btn-danger cancel-button" data-order-id="{{ order["_id"] }}">Cancel</button>
</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div class="accepted-table-container table-container" id="accepted-orders-table">
                <h1 class="text-center mb-5">Accepted Orders</h1>
                <table class="table accepted-table">
                    <thead>
                    <tr>
                        <th>Table</th>
                        <th>Items</th>
                        <th>Note</th>
                        <th>Complete</th>
                        <th>Cancel</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in accepted_orders %}
                        <tr>
                            <td>{{ order["table_number"] }}</td>
                            <td>{{ order["items"] }}</td>
                            <td>{{ order["note"] }}</td>
                            <td>
                                <button class="btn btn-primary complete-button" data-order-id="{{ order._id }}"
                                        onclick="addPingToQueue({{ order["table_number"] }})">Complete
                                </button>
                            <td><button class="btn btn-danger cancel-button" data-order-id="{{ order["_id"] }}">Cancel</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
