<!DOCTYPE html>
<html>

<head>
  <title>Sign In Screen</title> <!-- The webpage for having staff log in to reach the appropriate page-->
  <link rel="stylesheet" href="../static/css/loginpagestyle.css">
</head>

<body>
    <div class="container">
    <h1>Sign In</h1>
    <form method="post" onsubmit="signIn(); return false;">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      <button type="submit">Sign In</button> <!-- Once the user inputs a username and password, the details are passed to the 
      function -->
    </form>
  </div><script>
    function signIn() { //Function for using premade userpass combinations to redirect staff to the appropriate page
      var username = document.getElementById("username").value;
      var password = document.getElementById("password").value; //Inputs from the username and password text field are gathered and assigned to variables
      if (username === "kitchen" && password === "password") {
        window.location.href = "kitchen.html";
      } else if (username === "floor" && password === "password") {
          window.location.href = "Floor-Staff.html"; //Depending on the userpass combination used, the webpage for either the floorstaff page or kitchenstaff page is loaded
       }  else {
        alert("Invalid username or password");
      }
    }
</script>
</body>

</html>
