<!DOCTYPE html>
<html>

<head>
  <title>Sign In Screen</title> <!-- Staff sign in page where either kitchen staff or floor staff can sign in to their respective page-->
  <link rel="stylesheet" href="../static/css/loginpagestyle.css">
</head>

<body>
  <div class="container">
    <h1>Sign In</h1>
    <form method="post" onsubmit="signIn(); return false;">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      <button type="submit">Sign In</button>
    </form>
  </div> <!-- A javascript function is used to redirect the staff to the appropriate page after they sign in using 
  premade logins-->
  <script>
    function signIn() {
      var username = document.getElementById("username").value;
      var password = document.getElementById("password").value;
      if (username === "kitchen" && password === "password") {
        window.location.href = "kitchen";
      } else if (username === "floor" && password === "password") {
        window.location.href = "Floor-Staff";
      } else if (username === "door" && password === "password") {
        window.location.href = "doorPage";
      } else {
        alert("Invalid username or password");
      }
    }
  </script>
</body>

</html>
