<!DOCTYPE html>
<html>

<head>
  <title>Sign In Screen</title>
  <link rel="stylesheet" href="/static/css/loginpagestyle.css">
</head>

<body>
  <div class="container">
    <h1>Sign In</h1>
    <form action="" method="get">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      <button type="submit" formaction="/kitchen">Kitchen Staff</button><br>
      <button type="submit" formaction="/Floor-Staff">Floor Staff</button>
    </form>

  </div>
</body>

</html>