<!DOCTYPE html>
<html>

<body>
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script>
        function performTest2() {
            $.ajax({
                type: "POST",
                url: "/addToQueueTest",
                data: JSON.stringify({ "tableNo": "#" + (Math.floor(Math.random() * 100)).toString() }),
                contentType: "application/json",
                success: function (response) {
                    console.log(response);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }

        function changeBackgroundColor() {
            var letters = "0123456789ABCDEF";
            var color = "#";
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            document.body.style.backgroundColor = color;
        }
    </script>
    <button onclick="changeBackgroundColor()">Change Color</button>
    <button style="position: absolute; top: 0%; left: 85%;" onclick="performTest2()">Add Random Table</button>
</body>

</html>